<form ng-show="emp.formVisibility" ng-submit="">
<div class="text_div" style="overflow-x:auto;">
<table class="empData">
<tr>
  <td><span style="font-weight:bold;"> Signum :&nbsp</span></td>
  <td><input type="text" name="name" value="" style="text-align: center; text-transform: uppercase;"></td>
  <td><span style="font-weight:bold;"> Location :&nbsp</span></td>
  <td><input type="text" name="location" value="" style="text-align: center; text-transform: uppercase;"></td>
</tr>
<tr>
  <td><span style="font-weight:bold;"> Product :&nbsp</span></td>
  <td><input type="text" name="product" value="" style="text-align: center; text-transform: uppercase;"></td>
  <td><span style="font-weight:bold;"> Business Areas :&nbsp</span></td>
  <td><input type="text" name="businessArea" value="" style="text-align: center; text-transform: uppercase;"></td>
</tr>
<tr>
  <td><span style="font-weight:bold;"> Team Name :&nbsp</span></td>
  <td><input type="text" name="teamName" value="" style="text-align: center; text-transform: uppercase;"></td>
</tr>
<tr>
  <td><span style="font-weight:bold;"> Project Name :&nbsp</span></td>
  <td><input type="text" name="projName" value="" style="text-align: center; text-transform: uppercase;"></td>
  <td><span style="font-weight:bold;"> Pool :&nbsp</span></td>
  <td><input type="text" name="pool" value="" style="text-align: center; text-transform: uppercase;"></td>
</tr>
<tr>
  <td><span style="font-weight:bold;"> Status :&nbsp</span></td>
  <td><input type="text" name="status" value="" style="text-align: center; text-transform: uppercase;"></td>
  <td><span style="font-weight:bold;"> CU :&nbsp</span></td>
  <td><input type="text" name="CU" value="" style="text-align: center; text-transform: uppercase;"></td>
</tr>
<tr>
  <td><span style="font-weight:bold;"> EGI Line Manager :&nbsp</span></td>
  <td><input type="text" name="egi_lm" value="" style="text-align: center; text-transform: uppercase;"></td>
</tr>
  </table>
  </div>
  <br>
	<div>
  	<button class="btn btn-primary btnCustom" ng-click="emp.save()">Save</button>
  	<button class="btn btn-primary btnCustom" ng-click="emp.reset()">Reset</button>
	<button class="btn btn-primary btnCustom" ng-click="emp.cancel()">Cancel</button>
  </div>
</form>
<br>
<div>
  <table border="0px" >
   <tr>
   <td><span style="font-weight:bold;"> Start Date :&nbsp</span>
   <input type="month" id="month" format="dd/MM/yyyy" ng-model="proj.Startdatevalue"  style="text-align: center; text-transform: uppercase;"/></td>
  <td> <span style="font-weight:bold;"> End Date :&nbsp</span>
   <input type="month" id="month" ng-model="proj.Enddatevalue" style="text-align: center; text-transform: uppercase;"/></td>
 <td>  <span style="font-weight:bold;"> Project</span>
   <select style="width: 150px; height: 25px" > <option ng-model="ALL" >All</option><option ng-init="ALL" ng-repeat="option in emp.ProjectNamelist" ng-value="option.projName">{{option.projName}}</<option></select></td>
    <td><span style="font-weight:bold;">&nbsp</span>
    <input type="Submit"  id="Filter" value="GO" ng-click="proj.evaluateDate()" style="text-align: center; text-transform: uppercase;"/></td></tr></table>
</div>
<br>
<button ng-show="emp.enablebutton" class="btn btn-primary btnCustom" ng-click="emp.edit()">Edit</button>
<button ng-show="emp.enableShow" class="btn btn-primary btnCustom" ng-click="emp.show()">Show Details</button>
<div ng-if="emp.gridOptions.data">
      <button class="btn btn-primary btnCustom" ng-click="emp.saveRows()">Save</button>
</div>
<br><br>
<div ui-grid=emp.gridOptions class="myGrid" ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-move-columns ui-grid-edit ui-grid-row-edit></div>
