<form  ng-submit="">
<div class="text_div" style="overflow-x:auto;">
<table class="empData" ng-show="emp.formVisibility">
  <tr>
    <td><span style="font-weight:bold;"> Signum :&nbsp</span></td>
    <td><input type="text" class="text_style" ng-model="emp.formData.signum" style="text-align: center; text-transform: uppercase;"></td>
    <td><span style="font-weight:bold;"> Location :&nbsp</span></td>
    <td><input type="text" ng-model="emp.formData.location" style="text-align: center; text-transform: uppercase;"></td>
  </tr>
<tr>
  <td><span style="font-weight:bold;"> Product :&nbsp</span></td>
  <td><input type="text" ng-model="emp.formData.product" style="text-align: center; text-transform: uppercase;"></td>
  <td><span style="font-weight:bold;"> Business Areas :&nbsp</span></td>
  <td><input type="text" ng-model="emp.formData.businessArea" style="text-align: center; text-transform: uppercase;"></td>
</tr>
<tr>
  <td><span style="font-weight:bold;"> Team Name :&nbsp</span></td>
  <td><input type="text" ng-model="emp.formData.teamName" style="text-align: center; text-transform: uppercase;"></td>
</tr>
<tr>
  <td><span style="font-weight:bold;"> Status :&nbsp</span></td>
  <td><input type="text" ng-model="emp.formData.mapping_dtls[0].status" style="text-align: center; text-transform: uppercase;"></td>
  <td><span style="font-weight:bold;"> CU :&nbsp</span></td>
  <td><input type="text" ng-model="emp.formData.mapping_dtls[0].CU" style="text-align: center; text-transform: uppercase;"></td>
</tr>
<tr>
  <td><span style="font-weight:bold;"> Project Name :&nbsp</span></td>
  <td><input type="text" ng-model="emp.formData.mapping_dtls[0].projId" style="text-align: center; text-transform: uppercase;"></td>
  <td><span style="font-weight:bold;"> Pool :&nbsp</span></td>
  <td><input type="text" ng-model="emp.formData.pool" style="text-align: center; text-transform: uppercase;"></td>
</tr>
<tr>
  <td><span style="font-weight:bold;"> EGI Line Manager :&nbsp</span></td>
  <td><input type="text" ng-model="emp.formData.egiLineManager" style="text-align: center; text-transform: uppercase;"></td>
</tr>
  </table>
  <table class="empData" ng-show="emp.newEmployee">
    <tr>
      <td><span style="font-weight:bold;"> Signum :&nbsp</span></td>
      <td><input type="text" class="text_style" ng-model="emp.formData.signum" style="text-align: center; text-transform: uppercase;"></td>
      <td><span style="font-weight:bold;"> Name :&nbsp</span></td>
      <td><input type="text" ng-model="emp.formData.location" style="text-align: center; text-transform: uppercase;"></td>
    </tr>
  <tr>
    <td><span style="font-weight:bold;"> Product :&nbsp</span></td>
    <td><input type="text" ng-model="emp.formData.product" style="text-align: center; text-transform: uppercase;"></td>
    <td><span style="font-weight:bold;"> Business Areas :&nbsp</span></td>
    <td><input type="text" ng-model="emp.formData.businessArea" style="text-align: center; text-transform: uppercase;"></td>
  </tr>
  <tr>
    <td><span style="font-weight:bold;"> Team Name :&nbsp</span></td>
    <td><input type="text" ng-model="emp.formData.teamName" style="text-align: center; text-transform: uppercase;"></td>
  </tr>
  <tr>
    <td><span style="font-weight:bold;"> Status :&nbsp</span></td>
    <td><input type="text" ng-model="emp.formData.mapping_dtls[0].status" style="text-align: center; text-transform: uppercase;"></td>
    <td><span style="font-weight:bold;"> CU :&nbsp</span></td>
    <td><input type="text" ng-model="emp.formData.mapping_dtls[0].CU" style="text-align: center; text-transform: uppercase;"></td>
  </tr>
  <tr>
    <td><span style="font-weight:bold;"> Project Name :&nbsp</span></td>
    <td><input type="text" ng-model="emp.formData.mapping_dtls[0].projId" style="text-align: center; text-transform: uppercase;"></td>
    <td><span style="font-weight:bold;"> Pool :&nbsp</span></td>
    <td><input type="text" ng-model="emp.formData.pool" style="text-align: center; text-transform: uppercase;"></td>
  </tr>
  <tr>
    <td><span style="font-weight:bold;"> EGI Line Manager :&nbsp</span></td>
    <td><input type="text" ng-model="emp.formData.egiLineManager" style="text-align: center; text-transform: uppercase;"></td>
  </tr>
  <tr>
    <td><span style="font-weight:bold;"> Role :&nbsp</span></td>
    <td><input type="text" ng-model="emp.formData.role" style="text-align: center; text-transform: uppercase;"></td>
    <td><span style="font-weight:bold;"> Job_Stage :&nbsp</span></td>
    <td><input type="text" ng-model="emp.formData.jobStage" style="text-align: center; text-transform: uppercase;"></td>
  </tr>
    </table>
  </div>
  <br>
	<div>
  	<button class="btn btn-primary btnCustom" ng-click="emp.save()">Save</button>
  	<button class="btn btn-primary btnCustom" ng-click="emp.reset()">Reset</button>
	<button class="btn btn-primary btnCustom" ng-click="emp.cancel()">Cancel</button>
  </div>
</form>
<br>
<div>
  <table border="0px" >
   <tr>
   <td><span style="font-weight:bold;"> Start Date :&nbsp</span>
   <input type="month" id="month" format="dd/MM/yyyy" ng-model="proj.Startdatevalue"  style="text-align: center; text-transform: uppercase;"/></td>
  <td> <span style="font-weight:bold;"> End Date :&nbsp</span>
   <input type="month" id="month" ng-model="proj.Enddatevalue" style="text-align: center; text-transform: uppercase;"/></td>
 <td>  <span style="font-weight:bold;"> Project</span>
   <select style="width: 150px; height: 25px" > <option ng-model="ALL" >All</option><option ng-init="ALL" ng-repeat="option in emp.ProjectNamelist" ng-value="option.projName">{{option.projName}}</<option></select></td>
    <td><span style="font-weight:bold;">&nbsp</span>
    <input type="Submit"  id="Filter" value="GO" ng-click="proj.evaluateDate()" style="text-align: center; text-transform: uppercase;"/></td></tr></table>
</div>
<br>
<button ng-show="emp.enableShow" class="btn btn-primary btnCustom" ng-click="emp.show()">Show Details</button>
<button ng-show="emp.enableShow" class="btn btn-primary btnCustom" ng-click="emp.assignProject()">Assign new project</button><br><br>
<div ng-if="emp.gridOptions.data">
      <button class="btn btn-primary btnCustom" ng-click="emp.saveRows()">Save</button>
</div>
<br><br>
<div ui-grid=emp.gridOptions class="myGrid" ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-move-columns ui-grid-edit ui-grid-row-edit></div>
